<!DOCTYPE html>
<html>
<head>
    <title>Editar Inseto</title>
</head>
<body>
    <h1>Editar Inseto</h1>
    <form action="/home/edit/{{ inseto.id }}" method="post">
        <label>Nome: <input name="name" value="{{ inseto.name }}" required></label><br>
        <label>Vida útil: <input type="number" name="lifetime" value="{{ inseto.lifetime }}" required></label><br>
        <label>Foto: <input name="photo" value="{{ inseto.photo }}"></label><br>
        <label>Tamanho: <input type="number" name="size" value="{{ inseto.size }}" required></label><br>
        <label>Dieta: <input name="diet" value="{{ inseto.diet }}" required></label><br>
        <label>Extinto: <input type="checkbox" name="extinct" {% if inseto.extinct %}checked{% endif %}></label><br>
        <label>Curiosidade: <textarea name="curiosity">{{ inseto.curiosity }}</textarea></label><br>
        <button type="submit">Salvar</button>
    </form>
    <a href="/home">Voltar</a>
</body>
</html>
