body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.produto img{
    width: 20rem;
}

.produto {
    background-color: #0000005b;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    position: relative;
    z-index: 1;
}